@use "../variables" as *;

.theme-toggle-button {
	background: none;
	border: none;
	color: var(--text-secondary-color);
	font-size: 1.3rem;
	cursor: pointer;
	padding: 0.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: color 0.3s ease, background-color 0.3s ease;

	&:hover {
		color: var(--text-color);
		background-color: rgba(128, 128, 128, 0.1);
		// TODO: change to var theme color
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba($primary-color, 0.3);
	}
	&:focus:not(:focus-visible) {
		box-shadow: none;
	}
	&:focus-visible {
		box-shadow: 0 0 0 2px rgba($primary-color, 0.3);
	}
}
