@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.projects {
	background-color: var(--bg-color);

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}

	.section__title {
		text-align: center;
		margin-bottom: 3rem;
		font-size: 2rem;
		color: var(--text-color);
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2.5rem;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
