@use "../styles/variables" as *;

.footer {
	height: $footer-height;
	background-color: var(--bg-secondary-color);
	border-top: 1px solid var(--border-color-navbar);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: auto;

	&__container {
		width: 90%;
		max-width: 1200px;
	}

	p {
		color: var(--text-secondary-color);
		font-size: 0.85rem;
		margin: 0;
	}
}
